<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/fullcalendar.css"/>
		<link rel="stylesheet"	href="css/bootstrap.css"/>
			<link rel="stylesheet"	href="css/ngDialog.css"/>
	<script src="lib/angular.min.js"></script>
	<script src="lib/ngDialog.js" type="text/javascript"></script>

	<script src="lib/jquery-1.10.2.js"></script>
	<script src="lib/jquery-ui-1.10.4.min.js"></script>
	
	<script src="lib/moment.min.js"></script>
	
	<script src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script src="lib/fullcalendar.js"></script>

</head>
 <body ng-app="app" ng-controller="MainController">
<pre>

<button  ng-click="cleardata()">clear </button>
<button  ng-click="getdata()">getdata </button>
</pre>
 <fullcalendar direct-data="eventobj" save-data="savedata(data)"></fullcalendar>

 </body>

</html>
<script src="Mainapp.js"></script>
<script src="fullcalendardirective.js"></script>